#mapid { 
    position: absolute;
    top: 7vh;
    height: 93vh;
    width: 100vw;
    z-index: 1;
}

.fixed-action-button {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    z-index: 2;
}